.title {
    margin: 100px 0 0 0;
    color: gray;
}

.shops__box {
    border-top: solid gray;
}

.shop__box {
    text-decoration: none;
    border-bottom: solid gray;
    display: flex;
    padding: 10px;
}

.icon__name {
    display: flex;
    align-items: center;
}

    .shop__icon {
        width: 60px;
        height: 60px;
        border-radius: 20px;
    }

    .shop__name {
        color: black;
        font-weight: bold;
        font-size: 20px;
        margin: 0 20px;

    }