.seller__box {
    border-bottom: solid #bdbdbd;
    margin: 100px auto;
    width: 80%;
}

.seller {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    border-top: solid #bdbdbd;
    align-items: center;
    height: 80px;
    margin: 0 auto;
}

.seller:hover {
    background-color: #f0f0f0;
}

.seller__left {
    display: flex;
    align-items: center;
}

.icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;

}

.seller__name {
    color: black;
    margin: 0 10px;
}

.button {
    background-color: white;
    border: #ff5858 solid;
    width: 130px;
    height: 30px;
    color: #ff5858;
    border-radius: 8px;
}

@media screen and (max-width:500px) {
    .seller {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        border-top: solid gray;
        align-items: left;
        height: 80px;
        margin: 0 auto;
        padding: 10px;
    }

    .seller__left {
        display: flex;
        align-items: left;
        margin: 0 auto 0 0;
    }

    .button {
        background-color: white;
        border: #ff5858 solid;
        width: 130px;
        height: 30px;
        color: #ff5858;
        border-radius: 8px;
        margin: 0 auto 0 0;
    }
}