.purchage {
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
    width: 95%;
}

.purchage__left {
    width: 60%;
    margin: auto;
}

.purchage__right {
    width: 35%;
    margin: 0 auto;
}

.left__top {
    display: flex;
    flex-direction: row;
    height: 150px;
}

.image {
    margin: 0 30px;
    height: 100%;
}

.name {
    font-size: 23px;
    font-weight: bold;
    margin: 0 20px;
}

.price {
    font-size: 22px;
    margin: 40px 20px;
}

.left__bottom {
    margin: 30px 0;
}

.payment__box {
    display: flex;
    justify-content: space-between;
    margin: 0 0 70px 0;
}

.edit__box {
    display: flex;
    justify-content: space-between;
    margin: 0 0 30px 0;
}

.edit__name {
    font-size: 21px;
    font-weight: bold;
}

.edit {
    text-decoration: none;
    color: #2196F3;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.right__top__top {
    display: flex;
    margin: 70px 0;
}

.item__name {
    width: 200px;
    margin: 0 0 0 30px;
}

.right__top__bottom__item {
    display: flex;
    margin: 30px 0;
}

.purchage__button {
    text-decoration: none;
    background-color: #ff5858;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    border: none;
    margin: 10px auto;
}

.overlay, .dialog-box {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s;
}

.dialog-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-wrapper {
    display: flex;
    flex-direction: column;
}

.payment__confirm {
    margin: 10px auto 10px 0;
    text-align: center;
    font-weight: bold;
}

.ok {
    background-color: #fc4b4b;
    color: white;
    border: none;
    border-radius: 7px;
    height: 40px;
    margin: 10px 0;
}

.dialog-box p {
    margin-bottom: 10px;
}

.dialog-box .btn-wrapper {
    text-align: right;
}

.dialog-box .btn-wrapper button {
    margin-left: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width:768px) {

    .purchage {
        display: flex;
        flex-direction: column;
        margin: 100px auto;
    }

    .purchage__left {
        width: 70%;
        margin: auto;
    }

    .purchage__right {
        width: 70%;
        margin: 0 auto;
    }

    .left__top {
        display: flex;
        flex-direction: column;
        ;
        height: 100%;
    }

    .image {
        margin: 0 auto;
        height: auto;
        width: 100%;
    }

    .name {
        font-size: 23px;
        font-weight: bold;
        margin: 20px 0;
    }

    .price {
        font-size: 22px;
        margin: 10px 0;
    }

    .left__bottom {
        margin: 30px 0;
    }

    .payment__box {
        display: flex;
        flex-direction: column;
        margin: 0 0 10px 0;
    }

    .edit__box {
        display: flex;
        flex-direction: column;
        margin: 0 0 10px 0;
    }

    .edit__name {
        font-size: 21px;
        font-weight: bold;
    }

    .edit {
        text-decoration: none;
        color: #2196F3;
        display: flex;
        align-items: center;
        margin: 0;
    }

    .right__top {
        width: 100%
    }

    .right__top__top {
        display: flex;
        margin: 70px 0;
    }

    .item__name {
        width: 200px;
        margin: 0 0 0 0;
    }

    .right__top__bottom__item {
        display: flex;
        margin: 30px 0;
    }

    .purchage__button {
        text-decoration: none;
        background-color: #ff5858;
        color: white;
        font-size: 20px;
        border-radius: 5px;
        width: 100%;
        height: 40px;
        border: none;
        margin: 10px auto;
    }
}