.staff{
    display:flex;
    justify-content:space-between;
}


.add__staff{
    margin:auto 30px;
    text-decoration:none;
    background-color:#fc4b4b;
    border-radius:10px;
    color:white;
    height:40px;
    width:200px;
    text-align:center;
    line-height:40px;
}

.shop__detail{
    margin:50px;
    border-top:solid gray;
}

.staff__none{
    text-align:center;
    font-size:35px;
    font-weight:bold;
    color:gray;
    margin:130px;
}

.staff__box{
    border-bottom:solid gray;
    padding:20px;
}